@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');
.print img {
    margin-right: 3px;
}

.recipe li {
    float: left;
    width: 40%;
    font-size: 1.3em;
    line-height: 31px;
}